<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customizador de Contratos</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        p {
            font-size: 25px;
        }
    </style>
</head>
<body ng-app="myApp">
    <div class="container-fluid">
        <header>
            <h2>GESTÃO DE DOCUMENTAL</h2>
        </header>
        <div class="content" ng-controller="myCtrl">
            <aside class="aside-left">
                <div class="form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="name" ng-model="name" placeholder="nome">
                    </div>
                    <div class="mb-3">
                        <label for="natural" class="form-label">Natural</label>
                        <input type="text" class="form-control" id="natural" ng-model="natural" placeholder="natural">
                    </div>
                    <div class="mb-3">
                        <label for="prof" class="form-label">Profissão</label>
                        <input type="text" class="form-control" id="prof" ng-model="prof" placeholder="profissão">
                    </div>
                    <div class="mb-3">
                        <label for="cpf" class="form-label">Cpf</label>
                        <input type="text" class="form-control" id="cpf" ng-model="cpf" placeholder="cpf">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" checked="true" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Editar apenas os campos principais
                        </label>
                      </div>                    
                </div>                
                <!--<button onclick="Export2Word('exportContent', 'word-content');">Export as .doc</button>-->
                <div class="content-footer">
                    <button id="btn-export" onclick="exportHTML();"><i class="far fa-file-word fa-2x"></i></button>
                </div>            
            </aside>
            <div class="doc">
                <div class="document">
                    <!--<div id="exportContent" class="area-texto" style="font-size: 20px;" size="40px" id="source-html">-->
                    <div id="source-html" class="area-texto" style="font-size: 20px;" size="40px">
                        <h1 class="title no-edit" contentEditable="true">
                            <center>Declaração Boa Conduta</center>
                        </h1>
                        <p class="p p1">
                            <span class="no-edit" contentEditable="false">Eu, </span><span class="editable" contenteditable="true">{{ name }}</span>, natural de <span class="editable" contentEditable="true">{{ natural }}</span>, <span class="editable" contentEditable="true">{{ prof }}</span>, portador do CPF nº <span class="editable" contentEditable="true">{{ cpf }}</span>, com domicílio em <span>Florianópolis</span>, DECLARO não ter sofrido condenação penal com trânsito em julgado, informo nunca ter sido excluído ou demitido do serviço público a bem da disciplina e declaro que também não respondo a processo penal ou administrativo que atente contra os Direitos Humanos e Garantias Fundamentais.
                        </p>
                        <p class="p p1 no-edit" contentEditable="false">
                            Mussum Ipsum, cacilds vidis litro abertis. Diuretics paradis num copo é motivis de denguis. Suco de cevadiss deixa as pessoas mais interessantis. Paisis, filhis, espiritis santis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
                        </p>
                    </div>
                </div>
            </div>
            <aside class="aside-right">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">First slide</text></svg>-->
                        <!--<img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="https://via.placeholder.com/800x400" alt="">-->
                        <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 item">
                            <div class="thumb-doc"> 
                            <h5>Declaração</h5>                           
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Paisis, filhis, espiritis santis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Paisis, filhis, espiritis santis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Paisis, filhis, espiritis santis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>-->
                        <!--<img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="https://via.placeholder.com/800x400" alt="">-->
                        <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 item">
                            <div class="thumb-doc">
                            <h5>Atestado</h5>      
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Paisis, filhis, espiritis santis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Paisis, filhis, espiritis santis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Paisis, filhis, espiritis santis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
                            </div>
                        </div>
                  
                      </div>
                      <div class="carousel-item">
                        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text></svg>-->
                        <!--<img class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="https://via.placeholder.com/800x400" alt="">-->
                        <div class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 item">
                            <div class="thumb-doc">
                            <h5>Decreto</h5>      
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Paisis, filhis, espiritis santis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Paisis, filhis, espiritis santis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Paisis, filhis, espiritis santis. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.</p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>                
            </aside>
        </div>
        <!--<button onclick="Export2Word('exportContent', 'word-content');">Export as .doc</button>-->
    </div>
    <script src="html_for_doc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js" integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="script.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.name = "Lorem Ipson";
            $scope.natural = "Lorem Ipson";
            $scope.prof = "Lorem Ipson";
            $scope.cpf = "999.999.999.99";
        });
    </script>     
</body>
</html>