
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    min-width: 1200px;
}

header {
    width: 100%;
    height: 80px;
    background-color: cadetblue;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
    height: 100vh;
    /*background-color: cornsilk;*/
}

.aside-left {
    min-width: 250px;
    max-width: 450px;
    height: 100vh;
    max-width: 500px;
    background-color: cadetblue;
}

.doc {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    min-width: 1000px;
    height: 100vh;
    background-color: #f1f1f3;
}

.document {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 97%;
    height: 100%;
    background-color: #fdfdfd;
    border: solid thin #f8f6f6;
    padding-top: 100px;
}

.area-texto {
    width: 85%;
    height: 100%;
    background-color: #fff;
    border: solid thin #f1eaea57;
    padding: 55px 55px;
    box-shadow: 1px 1px 1px 1px #f7eeee6c;
}

.title {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    padding-bottom: 35px;
}

.p1 {
    font-size: 1.2em;
}

.p {
    line-height: 1.6;
    padding-bottom: 20px;
}
/*.p1 span {*/
.no-edit {
    /*background-color: #f3efef;*/
    /*border-bottom: solid 1px rgba(212, 210, 210, 0.452);*/
    min-width: 15px !important;
    min-height: 15px;
    /*box-shadow: 0px 1px 0px 1px #ccc;*/
}

[contenteditable] {
    outline: 0px solid transparent;
  }

 header h2 {
      color: #fff;
      text-align: center;
      padding-top: 15px
  }

.form {
    width: 70%;
    margin: auto;
}

.form-check {
    border-bottom: solid thin #f1efef36;
    padding: 10px 0;
    margin-left: 26px;
}

.form label {
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
}

.form-check-input {    
    transform: scale(1.5);
}

#source-html h4 {
    font-size: 50px !important;
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 3em;
    margin-top: 1em;
}

.editable:hover {
    background-color: rgb(193 204 204 / 26%);
}

.editable::before {
    position: absolute;
    content: " ";
    width: 3px;
    height: 20px;
    margin-top: 2px;
    background-color: crimson;
}

.aside-right {
    max-width: 80%;
    min-width: 300px;
    height: 100vh;
    padding: 50px;
}
