
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    min-width: 1200px;
}

header {
    width: 100%;
    height: 80px;
    background-color: cadetblue;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
    height: 100vh;
    /*background-color: cornsilk;*/
}

.aside {
    width: 30%;
    height: 100vh;
    background-color: cadetblue;
}

.doc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    background-color: #f1f1f3;
}

.document {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 97%;
    height: 100%;
    background-color: #fff;
    border: solid thin #f8f6f6;
}

.area-texto {
    width: 80%;
    height: 100%;
    background-color: #fff;
    border: solid thin #f1eaea57;
    padding: 55px 0
}

.title {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    padding-bottom: 35px;
}

.p1 {
    font-size: 1.2em;
}

.p {
    line-height: 1.6;
    padding-bottom: 20px;
}
/*.p1 span {*/
.no-edit {
    background-color: #f3efef;
    /*border-bottom: solid 1px black;*/
    width: 15px !important;
    height: 15px;
    box-shadow: 0px 1px 0px 1px #ccc;
}

[contenteditable] {
    outline: 0px solid transparent;
  }

 header h1 {
      color: #fff;
      text-align: center;
      padding-top: 15px
  }

.form {
    width: 70%;
    margin: auto;
}

.form label {
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
}

.form-check-input {    
    transform: scale(1.5);
}
